<ul class="list bg-base-100 rounded-box shadow-md">
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Your personal newsfeed</li>
  {% for item in items %}
  <li class="list-row">
    <div>
        <div class="text-2xl">{{ item.title }}</div>
        <div class="text-xl mb-4 uppercase font-semibold opacity-60">{{ item.source }} {{ item.created_at.strftime('%b %d, %Y') if item.created_at else '' }}</div>
        <div class="mt-4"><img class="w-[50px] h-[50px] rounded-box" src="/image/{{ item.image }}"/></div>
    </div>
    <div class="list-col-wrap text-xs">
      {{ item.content | safe }}
    </div>
    {% include "partials/like_button.html" %}
  </li>
  {% endfor %}
</ul>

